# Работа с библиотекой Pandas

1. Загрузите набор данных из файла **car_data.csv** по примеру с лекции

In [1]:
# Добавить свой код в ячейку
import pandas as pd
df = pd.read_csv("car_data.csv")
df

,Unnamed: 0,Car_id,Date,Customer Name,Gender,Annual Income,Dealer_Name,Company,Model,Engine,Transmission,Color,Price ($),Dealer_No,Body Style,Phone,Dealer_Region
0,0,C_CND_000001,1/2/2022,Geraldine,Male,13500,Buddy Storbeck's Diesel Service Inc,Ford,Expedition,DoubleÂ Overhead Camshaft,Auto,Black,26000,06457-3834,SUV,8264678,Middletown
1,1,C_CND_000002,1/2/2022,Gia,Male,1480000,C & M Motors Inc,Dodge,Durango,DoubleÂ Overhead Camshaft,Auto,Black,19000,60504-7114,SUV,6848189,Aurora
2,2,C_CND_000003,1/2/2022,Gianna,Male,1035000,Capitol KIA,Cadillac,Eldorado,Overhead Camshaft,Manual,Red,31500,38701-8047,Passenger,7298798,Greenville
3,3,C_CND_000004,1/2/2022,Giselle,Male,13500,Chrysler of Tri-Cities,Toyota,Celica,Overhead Camshaft,Manual,Pale White,14000,99301-3882,SUV,6257557,Pasco
4,4,C_CND_000005,1/2/2022,Grace,Male,1465000,Chrysler Plymouth,Acura,TL,DoubleÂ Overhead Camshaft,Auto,Red,24500,53546-9427,Hatchback,7081483,Janesville
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4996,4996,C_CND_004997,8/28/2022,Elena,Female,3900000,Saab-Belle Dodge,Jeep,Wrangler,Overhead Camshaft,Manual,Pale White,23000,60504-7114,Hatchback,7664667,Aurora
4997,4997,C_CND_004998,8/28/2022,Elina,Male,1500000,Scrivener Performance Engineering,Saturn,LS,DoubleÂ Overhead Camshaft,Auto,Red,24000,38701-8047,Sedan,7050688,Greenville
4998,4998,C_CND_004999,8/28/2022,Elizabeth,Male,1850000,Star Enterprises Inc,Pontiac,Grand Am,DoubleÂ Overhead Camshaft,Auto,Pale White,12000,99301-3882,SUV,6236154,Pasco
4999,4999,C_CND_005000,8/28/2022,Ella,Male,13500,Suburban Ford,Mercury,Villager,DoubleÂ Overhead Camshaft,Auto,Black,16000,53546-9427,Passenger,7500618,Janesville
5000,5000,C_CND_005001,8/28/2022,Emily,Male,1700000,Tri-State Mack Inc,Mitsubishi,3000GT,Overhead Camshaft,Manual,Red,24000,85257-3102,Sedan,7052234,Scottsdale

2. Проведите анализ пропусков в данных. Удалите строки или столбцы, содержащие пропуски.

In [8]:
# Добавить свой код в ячейку
df.info()
df.isna().sum()
df.notnull()
df = df.dropna()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5001 entries, 0 to 5000
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     5001 non-null   int64
 1   Car_id         5001 non-null   object
 2   Date           5001 non-null   object
 3   Customer Name  5001 non-null   object
 4   Gender         5001 non-null   object
 5   Annual Income  5001 non-null   int64
 6   Dealer_Name    4929 non-null   object
 7   Company        4929 non-null   object
 8   Model          5001 non-null   object
 9   Engine         5001 non-null   object
 10  Transmission   5001 non-null   object
 11  Color          5001 non-null   object
 12  Price ($)      5001 non-null   int64
 13  Dealer_No      5001 non-null   object
 14  Body Style     5001 non-null   object
 15  Phone          5001 non-null   int64
 16  Dealer_Region  5001 non-null   object
dtypes: int64(4), object(13)
memory usage: 664.3+ KB

,Unnamed: 0,Car_id,Date,Customer Name,Gender,Annual Income,Dealer_Name,Company,Model,Engine,Transmission,Color,Price ($),Dealer_No,Body Style,Phone,Dealer_Region
0,0,C_CND_000001,1/2/2022,Geraldine,Male,13500,Buddy Storbeck's Diesel Service Inc,Ford,Expedition,DoubleÂ Overhead Camshaft,Auto,Black,26000,06457-3834,SUV,8264678,Middletown
1,1,C_CND_000002,1/2/2022,Gia,Male,1480000,C & M Motors Inc,Dodge,Durango,DoubleÂ Overhead Camshaft,Auto,Black,19000,60504-7114,SUV,6848189,Aurora
2,2,C_CND_000003,1/2/2022,Gianna,Male,1035000,Capitol KIA,Cadillac,Eldorado,Overhead Camshaft,Manual,Red,31500,38701-8047,Passenger,7298798,Greenville
3,3,C_CND_000004,1/2/2022,Giselle,Male,13500,Chrysler of Tri-Cities,Toyota,Celica,Overhead Camshaft,Manual,Pale White,14000,99301-3882,SUV,6257557,Pasco
4,4,C_CND_000005,1/2/2022,Grace,Male,1465000,Chrysler Plymouth,Acura,TL,DoubleÂ Overhead Camshaft,Auto,Red,24500,53546-9427,Hatchback,7081483,Janesville
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4996,4996,C_CND_004997,8/28/2022,Elena,Female,3900000,Saab-Belle Dodge,Jeep,Wrangler,Overhead Camshaft,Manual,Pale White,23000,60504-7114,Hatchback,7664667,Aurora
4997,4997,C_CND_004998,8/28/2022,Elina,Male,1500000,Scrivener Performance Engineering,Saturn,LS,DoubleÂ Overhead Camshaft,Auto,Red,24000,38701-8047,Sedan,7050688,Greenville
4998,4998,C_CND_004999,8/28/2022,Elizabeth,Male,1850000,Star Enterprises Inc,Pontiac,Grand Am,DoubleÂ Overhead Camshaft,Auto,Pale White,12000,99301-3882,SUV,6236154,Pasco
4999,4999,C_CND_005000,8/28/2022,Ella,Male,13500,Suburban Ford,Mercury,Villager,DoubleÂ Overhead Camshaft,Auto,Black,16000,53546-9427,Passenger,7500618,Janesville
5000,5000,C_CND_005001,8/28/2022,Emily,Male,1700000,Tri-State Mack Inc,Mitsubishi,3000GT,Overhead Camshaft,Manual,Red,24000,85257-3102,Sedan,7052234,Scottsdale

3. Вычислите средний доход клиентов, купивших автомобиль марки Toyota Camry.

In [18]:
# Добавить свой код в ячейку
df[(df["Model"] == "Camry") & (df["Company"] == "Toyota")]["Annual Income"].mean()

776609.375

4. Найдите топ 10 самых дорогих марок автомобилей за представленный период времени.

In [41]:
# Добавить свой код в ячейку
df["Car"] = df["Company"] + " " + df["Model"]
df.sort_values("Price ($)", ascending=False)["Car"].unique()[:10]

C:\Users\kam\AppData\Local\Temp/ipykernel_13348/4057655449.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Car"] = df["Company"] + " " + df["Model"]

array(['Toyota RAV4', 'Cadillac Eldorado', 'Mercedes-B S-Class',
       'Audi A6', 'Volvo C70', 'Chevrolet Malibu', 'Lincoln Continental',
       'Toyota Tacoma', 'Cadillac Catera', 'Nissan Pathfinder'],
      dtype=object)

5. Найдите среднюю стоимость автомобилей по типам кузова (Body Style), используя метод groupby.

In [39]:
# Добавить свой код в ячейку
df.groupby("Body Style").agg("Price ($)").mean()

Body Style
Hardtop      29575.564677
Hatchback    27377.561126
Passenger    29845.254130
SUV          26729.765799
Sedan        29698.673056
Name: Price ($), dtype: float64

6. Какие автомобили приобрели 10 клиентов с самым высоким доходом?

In [42]:
# Добавить свой код в ячейку
df.sort_values("Annual Income", ascending=False)["Car"].unique()[:10]

array(['Chrysler Concorde', 'Cadillac Eldorado', 'Volvo C70',
       'Nissan Pathfinder', 'Volvo S40', 'Chevrolet Corvette',
       'Porsche Carrera Cabrio', 'Volkswagen GTI', 'BMW 528i',
       'Ford Ranger'], dtype=object)

7. Какие автомобили приобрели 10 клиентов с самым низким доходом?

In [43]:
# Добавить свой код в ячейку
df.sort_values("Annual Income", ascending=True)["Car"].unique()[:10]

array(['Ford Expedition', 'BMW 323i', 'BMW 528i', 'Dodge Stratus',
       'Volkswagen GTI', 'Volvo S80', 'Lexus LS400', 'Volkswagen Cabrio',
       'Ford Explorer', 'Hyundai Accent'], dtype=object)

8. Создайте новый столбец, значения которого равны логарифму от величины дохода клиентов.

In [45]:
# Добавить свой код в ячейку
import math
df["Log"] = df["Annual Income"].apply(math.log)
df

C:\Users\kam\AppData\Local\Temp/ipykernel_13348/3933566145.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Log"] = df["Annual Income"].apply(math.log)

,Unnamed: 0,Car_id,Date,Customer Name,Gender,Annual Income,Dealer_Name,Company,Model,Engine,Transmission,Color,Price ($),Dealer_No,Body Style,Phone,Dealer_Region,Car,Log
0,0,C_CND_000001,1/2/2022,Geraldine,Male,13500,Buddy Storbeck's Diesel Service Inc,Ford,Expedition,DoubleÂ Overhead Camshaft,Auto,Black,26000,06457-3834,SUV,8264678,Middletown,Ford Expedition,9.510445
1,1,C_CND_000002,1/2/2022,Gia,Male,1480000,C & M Motors Inc,Dodge,Durango,DoubleÂ Overhead Camshaft,Auto,Black,19000,60504-7114,SUV,6848189,Aurora,Dodge Durango,14.207553
2,2,C_CND_000003,1/2/2022,Gianna,Male,1035000,Capitol KIA,Cadillac,Eldorado,Overhead Camshaft,Manual,Red,31500,38701-8047,Passenger,7298798,Greenville,Cadillac Eldorado,13.849912
3,3,C_CND_000004,1/2/2022,Giselle,Male,13500,Chrysler of Tri-Cities,Toyota,Celica,Overhead Camshaft,Manual,Pale White,14000,99301-3882,SUV,6257557,Pasco,Toyota Celica,9.510445
4,4,C_CND_000005,1/2/2022,Grace,Male,1465000,Chrysler Plymouth,Acura,TL,DoubleÂ Overhead Camshaft,Auto,Red,24500,53546-9427,Hatchback,7081483,Janesville,Acura TL,14.197366
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4996,4996,C_CND_004997,8/28/2022,Elena,Female,3900000,Saab-Belle Dodge,Jeep,Wrangler,Overhead Camshaft,Manual,Pale White,23000,60504-7114,Hatchback,7664667,Aurora,Jeep Wrangler,15.176487
4997,4997,C_CND_004998,8/28/2022,Elina,Male,1500000,Scrivener Performance Engineering,Saturn,LS,DoubleÂ Overhead Camshaft,Auto,Red,24000,38701-8047,Sedan,7050688,Greenville,Saturn LS,14.220976
4998,4998,C_CND_004999,8/28/2022,Elizabeth,Male,1850000,Star Enterprises Inc,Pontiac,Grand Am,DoubleÂ Overhead Camshaft,Auto,Pale White,12000,99301-3882,SUV,6236154,Pasco,Pontiac Grand Am,14.430696
4999,4999,C_CND_005000,8/28/2022,Ella,Male,13500,Suburban Ford,Mercury,Villager,DoubleÂ Overhead Camshaft,Auto,Black,16000,53546-9427,Passenger,7500618,Janesville,Mercury Villager,9.510445
5000,5000,C_CND_005001,8/28/2022,Emily,Male,1700000,Tri-State Mack Inc,Mitsubishi,3000GT,Overhead Camshaft,Manual,Red,24000,85257-3102,Sedan,7052234,Scottsdale,Mitsubishi 3000GT,14.346139